<% if(JSON.stringify(messages) !=="{}" && messages !=="" ) { %>
    <div id="alert">
        <%= locals.messages %>
            <button type="button" id="close">
                <span>&times;</span>
            </button>
            <script>
                document.getElementById('close').addEventListener("click", () =>
                    document.getElementById('alert').remove()
                );
            </script>
    </div>
    <% } %>