<div id="navContainer">
    <nav>
        <div id="logo">
            <a href="/">
                <img src="./imgs/PacePartnerLogo.png" alt="Logo" width="50">
            </a>
        </div>
        <div id="nav-links">
            <a href="/paceCalc" id="link">Pace Calculator</a>
            <a href="/calendar" id="link">Calendar</a>
        </div>
        <form id="logout" action="/logout?_method=DELETE" method="POST">
            <button style="border: none; font: unset;" type="submit">Logout</button>
        </form>
    </nav>
</div>
<h1>Calendar</h1>
<% if(JSON.stringify(messages) !=="{}" && messages !=="" ) { %>
    <div id="alert">
        <%= locals.messages %>
            <button type="button" id="close">
                <span>&times;</span>
            </button>
            <script>
                document.getElementById('close').addEventListener("click", () =>
                    document.getElementById('alert').remove()
                );
            </script>
    </div>
    <% } %>
        <div id="calc-wrapper">
            <label id="weeks">
                Number of Weeks Before your Race:
                <input type="number" id="calendarLength" min="1" max="20" name="calendarLength" placeholder="0"></input>
            </label>
            <br />
            <div id="calendarButtons">
                <input id="calendarButton" type="submit" value="Generate your calendar!"></input>
                <input id="resetButton" type="submit" value="Reset"></input>
                <input id="saveButton" type="submit" value="Save your calendar!"></input>
            </div>
        </div>
        <div id="schedule-wrapper">
            <div id="schedule-header">
                <h2>Your Training Schedule</h2>
            </div>
            <table id="schedule">
                <thead id="schedule-head">
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                </thead>
                <tbody id="schedule-body">
                    <%- locals.calendar %>
                </tbody>
            </table>
        </div>
        <!-- <script src="./Js/script.js" type="text/javascript"></script> -->
        <script>
            document.getElementById("calendarButton").addEventListener("click", (e) => {
                e.preventDefault();
                let weeks = parseInt(document.getElementById("calendarLength").value);
                let daysGenerated = 0;
                let weeksGenerated = 0;
                if (weeks > 20) alert("We limit the number of weeks at 20");
                else if (weeks < 1) alert("Input a positive number");
                else if (document.getElementById("day1")) alert("There is already a generated calendar");
                else {
                    while (daysGenerated != weeks * 7) {
                        if (daysGenerated % 7 == 0) {
                            weeksGenerated++;
                            let week = document.createElement("tr");
                            week.id = "week" + weeksGenerated;
                            document.getElementById("schedule-body").appendChild(week);
                        }
                        daysGenerated++;
                        let day = document.createElement("td");
                        day.id = "day" + daysGenerated;
                        day.classList = "day-style";
                        let dayHeader = document.createElement("div");
                        dayHeader.classList = "day-header";
                        dayHeader.id = "day" + daysGenerated + "-header";
                        dayHeader.textContent = "Day " + daysGenerated;
                        day.appendChild(dayHeader);
                        let dayContent = document.createElement("div");
                        dayContent.classList = "day-content";
                        dayContent.id = "day" + daysGenerated + "-content";
                        day.appendChild(dayContent);
                        document.getElementById("week" + weeksGenerated).appendChild(day);
                    }
                    for (let i = 1; i <= weeks * 7; i++) {
                        let day = document.getElementById("day" + i);
                        day.addEventListener("click", (e) => {
                            e.preventDefault();
                            let input = prompt("Plan your run for today!");
                            while (input === "") input = prompt("Plan your run for today!");
                            if (input) {
                                console.log(input);
                                day.children[1].textContent = input;
                            }
                        });
                    }
                }
            });
            document.getElementById("resetButton").addEventListener("click", (e) => {
                e.preventDefault();
                document.getElementById("schedule-body").innerHTML = "";
            });
            document.getElementById("saveButton").addEventListener("click", (e) => {
                e.preventDefault();
                let week = document.getElementById("week1");
                let daysWithContent = [];
                let numWeeks = 0;
                let numDays = 0;
                while (week) {
                    numWeeks++;
                    let day = week.firstElementChild;
                    while (day) {
                        numDays++;
                        if (day.children[1].textContent !== "")
                            daysWithContent.push(numDays + ":" + day.children[1].textContent);
                        day = day.nextElementSibling;
                    }
                    week = week.nextElementSibling;
                }
                alert(daysWithContent);
                navigator.sendBeacon(
                    "/save-calendar",
                    new Blob(
                        [
                            JSON.stringify({
                                numWeeks:
                                    numWeeks,
                                content:
                                    daysWithContent.toString(),
                            }),
                        ],
                        { type: "application/json" }
                    )
                );
            });
            window.addEventListener("beforeunload", () => {
                navigator.sendBeacon(
                    "/preserve-calendar",
                    new Blob(
                        [
                            JSON.stringify({
                                calendar:
                                    document.getElementById("schedule-body").innerHTML,
                            }),
                        ],
                        { type: "application/json" }
                    )
                );
            });
            document.addEventListener("DOMContentLoaded", () => {
                let i = 1;
                let day = document.getElementById("day" + i);
                while (day) {
                    console.log(day);
                    day.addEventListener("click", (e) => {
                        e.preventDefault();
                        let input = prompt("Plan your run for today!");
                        while (input === "") input = prompt("Plan your run for today!");
                        if (input) {
                            console.log(input);
                            e.currentTarget.children[1].textContent = input;
                        }
                    });
                    i++;
                    day = document.getElementById("day" + i);
                }
            });
        </script>