<div id="navContainer">
    <nav>
        <div id="logo">
            <a href="/">
                <img src="./imgs/PacePartnerLogo.png" alt="Logo">
            </a>
        </div>
        <div id="nav-links">
            <a href="/paceCalc" id="link">Pace Calculator</a>
            <a href="/calendar" id="link">Calendar</a>
        </div>
        <form id="logout" action="/logout?_method=DELETE" method="POST">
            <button style="border: none; font: unset;" type="submit">Logout</button>
        </form>
    </nav>
</div>
<h1>Calendar</h1>
<% if(JSON.stringify(messages) !=="{}" && messages !=="" ) { %>
    <div id="alert">
        <%= locals.messages %>
            <button type="button" id="close">
                <span>&times;</span>
            </button>
            <script>
                document.getElementById('close').addEventListener("click", () =>
                    document.getElementById('alert').remove()
                );
            </script>
    </div>
    <% } %>
        <div id="days-wrapper">
            <label id="weeks">
                Number of Days for your Training Block:
                <input type="number" id="calendarLength" min="1" max="150" name="calendarLength"
                    placeholder="0"></input>
            </label>
            <div id="calendarButtons">
                <input id="calendarButton" type="submit" value="Generate your calendar!"></input>
                <input id="saveButton" type="submit" value="Save"></input>
                <input id="resetButton" type="submit" value="Reset"></input>
            </div>
        </div>
        <div id="schedule-wrapper">
            <div id="schedule-header">
                <h2>Your Training Schedule</h2>
            </div>
            <div id="addRemoveContainer">
                <div id="addButton">+</div>
                <div id="removeButton">-</div>
            </div>
            <table id="schedule">
                <thead id="schedule-head">
                    <th>M</th>
                    <th>T</th>
                    <th>W</th>
                    <th>Th</th>
                    <th>F</th>
                    <th>Sat</th>
                    <th>Sun</th>
                </thead>
                <tbody id="schedule-body">
                    <%- locals.calendar %>
                </tbody>
            </table>
        </div>
        <div id="popup" class="hidden">
            <div id="popup-content">
                <h3>Plan the day for today!</h3>
                <select id="dropdown" value="Type of Run">
                    <option value="Easy">Easy</option>
                    <option value="Workout">Workout</option>
                    <option value="Race">Race</option>
                    <option value="Rest">Rest</option>
                </select>
                <textarea placeholder="Describe the day here"></textarea>
                <div id="popup-buttons">
                    <button id="confirmButton">Confirm</button>
                    <button id="cancelButton">Cancel</button>
                </div>
            </div>
        </div>
        <!-- <script src="./Js/script.js" type="text/javascript"></script> -->
        <script>
            let daysGenerated = 0;
            let weeksGenerated = 0;

            document.getElementById("calendarButton").addEventListener("click", (e) => {
                e.preventDefault();
                let days = parseInt(document.getElementById("calendarLength").value);
                if (isNaN(days)) alert("Input a number");
                else if (days > 150) alert("We limit the number of days at 150");
                else if (days < 1) alert("Input a positive number");
                else if (document.getElementById("day1")) alert("There is already a generated calendar");
                else {
                    while (daysGenerated != days) {
                        if (daysGenerated % 7 == 0) {
                            weeksGenerated++;
                            let week = document.createElement("tr");
                            week.id = "week" + weeksGenerated;
                            document.getElementById("schedule-body").appendChild(week);
                        }
                        daysGenerated++;
                        let day = document.createElement("td");
                        day.id = "day" + daysGenerated;
                        day.classList = "day-style";
                        let dayHeader = document.createElement("div");
                        dayHeader.classList = "day-header";
                        dayHeader.id = "day" + daysGenerated + "-header";
                        dayHeader.textContent = daysGenerated;
                        day.appendChild(dayHeader);
                        let dayContent = document.createElement("div");
                        dayContent.classList = "day-content";
                        dayContent.id = "day" + daysGenerated + "-content";
                        day.appendChild(dayContent);
                        document.getElementById("week" + weeksGenerated).appendChild(day);
                    }

                    if (daysGenerated % 7 === 0) {
                        weeksGenerated++;
                        let week = document.createElement("tr");
                        week.id = "week" + weeksGenerated;
                        document.getElementById("schedule-body").appendChild(week);
                    }

                    for (let i = 1; i <= days; i++) {
                        let day = document.getElementById("day" + i);
                        day.addEventListener("click", (e) => dayClicked(e.currentTarget));
                    }
                }
            });

            document.getElementById("resetButton").addEventListener("click", (e) => {
                if (confirm("Are you sure you want to reset your calendar?")) {
                    document.getElementById("schedule-body").innerHTML = "";
                    daysGenerated = 0;
                    weeksGenerated = 0;
                }
            });

            document.getElementById("saveButton").addEventListener("click", (e) => {
                let week = document.getElementById("week1");
                let daysWithContent = [];
                let content = [];
                for (let i = 1; i <= daysGenerated; i++) {
                    let day = document.getElementById("day" + i);
                    if (day.children[1].getAttribute("text")) {
                        daysWithContent.push(i);
                        content.push(day.children[1].classList[0] + ": " + day.children[1].getAttribute("text"));
                    }
                }
                navigator.sendBeacon("/save-calendar",
                    new Blob(
                        [
                            JSON.stringify({
                                numDays:
                                    daysGenerated,
                                daysWithContent:
                                    daysWithContent,
                                content:
                                    content,
                            }),
                        ],
                        { type: "application/json" }
                    )
                );
            })

            window.addEventListener("beforeunload", (e) => {
                let week = document.getElementById("week1");
                let daysWithContent = [];
                let content = [];
                for (let i = 1; i <= daysGenerated; i++) {
                    let day = document.getElementById("day" + i);
                    if (day.children[1].textContent !== "") {
                        daysWithContent.push(i);
                        content.push(day.children[1].classList[0] + ": " + day.children[1].getAttribute("text"));
                    }
                }
                navigator.sendBeacon(
                    "/save-calendar",
                    new Blob(
                        [
                            JSON.stringify({
                                numDays:
                                    daysGenerated,
                                daysWithContent:
                                    daysWithContent,
                                content:
                                    content,
                            }),
                        ],
                        { type: "application/json" }
                    )
                );
            });

            document.addEventListener("DOMContentLoaded", () => {
                let i = 1
                let day = document.getElementById("day" + i);
                while (day) {
                    day.addEventListener("click", (e) => dayClicked(e.currentTarget));
                    i++;
                    day = document.getElementById("day" + i);
                }
                daysGenerated = i - 1;
                weeksGenerated = Math.ceil(daysGenerated / 7);
                console.log(daysGenerated);
                console.log(weeksGenerated);
            });

            document.getElementById("addButton").addEventListener("click", (e) => {
                daysGenerated++;
                console.log(daysGenerated);
                if ((daysGenerated - 1) % 7 === 0) {
                    weeksGenerated++;
                    let week = document.createElement("tr");
                    week.id = "week" + weeksGenerated;
                    document.getElementById("schedule-body").appendChild(week);
                }
                let day = document.createElement("td");
                day.id = "day" + daysGenerated;
                day.classList = "day-style";
                let dayHeader = document.createElement("div");
                dayHeader.classList = "day-header";
                dayHeader.id = "day" + daysGenerated + "-header";
                dayHeader.textContent = daysGenerated;
                day.appendChild(dayHeader);
                let dayContent = document.createElement("div");
                dayContent.classList = "day-content";
                dayContent.id = "day" + daysGenerated + "-content";
                day.appendChild(dayContent);
                document.getElementById("week" + weeksGenerated).appendChild(day);
                day.addEventListener("click", (e) => dayClicked(e.currentTarget));
            });

            document.getElementById("removeButton").addEventListener("click", (e) => {
                console.log(daysGenerated);
                console.log(weeksGenerated);
                if (daysGenerated > 0) {
                    let day = document.getElementById("day" + daysGenerated);
                    day.remove();
                    daysGenerated--;
                    if (daysGenerated % 7 === 0) {
                        document.getElementById("week" + weeksGenerated).remove();
                        weeksGenerated--;
                    }
                }
            });

            const dayClicked = (day) => {
                let popup = document.getElementById("popup");
                if (day.children[1].textContent !== "") {
                    document.getElementById("dropdown").value = day.children[1].classList[0];
                    document.getElementById("textarea").value = day.children[1].getAttribute("text");
                }
                else {
                    document.getElementById("dropdown").value = "Easy";
                    document.getElementById("textarea").value = "";
                }
                popup.classList.remove("hidden");
                let confirmButton = document.getElementById("confirmButton");
                let cancelButton = document.getElementById("cancelButton");
                document.getElementById("confirmButton").addEventListener("click", () => {
                    const dropdown = document.getElementById("dropdown");
                    const textarea = document.getElementById("textarea");
                    day.children[1].setAttribute("text", textarea.value);
                    day.children[1].textContent = dropdown.value;
                    day.children[1].classList = dropdown.value;
                    document.getElementById("popup").classList.add("hidden");
                    confirmButton.replaceWith(confirmButton.cloneNode(true));
                });
                document.getElementById("cancelButton").addEventListener("click", () => {
                    document.getElementById("popup").classList.add("hidden");
                    confirmButton.replaceWith(confirmButton.cloneNode(true));
                });
            }
        </script>