<div id="navContainer">
    <nav>
        <a id="logo" href="/">
            Pace Partner
        </a>
        <div id="nav-links">
            <a href="/paceCalc" id="link">Pace Calculator</a>
            <a href="/calendar" id="link">Calendar</a>
            <form id="link" action="/logout?_method=DELETE" method="POST">
                <button id="link" type="submit">Logout</button>
            </form>
        </div>
    </nav>
</div>
<h1>Calendar</h1>
<% if(JSON.stringify(messages) !=="{}" && messages !=="" ) { %>
    <div id="alert">
        <%= locals.messages %>
            <button type="button" id="close">
                <span>&times;</span>
            </button>
            <script>
                document.getElementById('close').addEventListener("click", () =>
                    document.getElementById('alert').remove()
                );
            </script>
    </div>
    <% } %>
        <div id="calc-wrapper">
            <label>
                Number of Weeks Before your Race:
                <input type="text" id="calendarLength" name="calendarLength" placeholder="0"></input>
            </label>
            <br />
            <input id="calendarButton" type="submit" value="Generate your calendar!"></input>
            <input id="resetButton" type="submit" value="Reset"></input>
            <input id="saveButton" type="submit" value="Save your calendar!"></input>
        </div>
        <div id="schedule-wrapper">
            <div id="schedule-header">
                Note: This data is not saved so do not put any important information on here yet
            </div>
            <table id="schedule">
                <thead id="schedule-head">
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                </thead>
                <tbody id="schedule-body">
                    <%- locals.calendar %>
                </tbody>
            </table>
        </div>
        <script src="./Js/script.js" type="text/javascript"></script>