<div id="navContainer">
    <nav>
        <div id="logo">
            <div>Pace Partner</div>
        </div>
        <div id="nav-links">
            <a href="/" id="link">Home</a>
            <form id="link" action="/logout?_method=DELETE" method="POST">
                <button id="link" type="submit">Logout</button>
            </form>
        </div>
    </nav>
</div>
<h1>Dashboard</h1>
Hello <%= locals.user %>!
    <div id="calc-wrapper">
        <form onsubmit="alert('hi')">
            <label>
                Recent PR Distance:
                <select name="distance" onChange={}>
                    <option value="1500m">1500m</option>
                    <option value="1 mile">1 mile</option>
                    <option value="3000m">3000m</option>
                    <option value="2 mile">2 mile</option>
                    <option value="3 mile">3 mile</option>
                    <option value="5k">5k</option>
                    <option value="10km">10km</option>
                    <option value="15km">15km</option>
                    <option value="Half-Marathon">Half-Marathon</option>
                    <option value="Marathon">Marathon</option>
                </select>
            </label>
            <br />
            <label>
                PR (HH:MM:SS):
                <input type="text" name="prH" placeholder="00" onChange={}></input>
                :&nbsp;
                <input type="text" name="prM" placeholder="00" onChange={}></input>
                :&nbsp;
                <input type="text" name="prS" placeholder="00" onChange={}></input>
                <br />
            </label>
            <label>
                VO2 Max (optional):
                <input type="text" name="vO2" placeholder="0" onChange={}></input>
                <br />
            </label>
            <label>
                Days per week:
                <select name="days" onChange={}>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select>
            </label>
            <br />
            <label>
                Workouts per week:
                <select name="workouts" onChange={}>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <br />
            </label>
            <input type="submit" value="See your running plan!"></input>
        </form>
        <div className="results">
            <div className="Easy">Easy Pace: 0</div>
            <div className="Marathon">Marathon Pace: 0</div>
            <div className="Threshold">Threshold Pace: 0</div>
            <div className="Interval">Interval Pace: 0</div>
            <div className="Repeat">Repeat Pace: 0</div>
            <div className="2Mile">
                2 Mile Potential PR:
            </div>
        </div>
    </div>
    <div id="schedule-wrapper">
        <div id="schedule-header">
            Something on top
        </div>
        <div id="schedule-body">
            <table>
                <thead>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Day 1</td>
                        <td>Day 2</td>
                        <td>Day 3</td>
                        <td>Day 4</td>
                        <td>Day 5</td>
                        <td>Day 6</td>
                        <td>Day 7</td>
                    </tr>
                    <tr>
                        <td>Day 8</td>
                        <td>Day 9</td>
                        <td>Day 10</td>
                        <td>Day 11</td>
                        <td>Day 12</td>
                        <td>Day 13</td>
                        <td>Day 14</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>