<div id="navContainer">
    <nav>
        <div id="logo">
            <div>Pace Partner</div>
        </div>
        <div id="nav-links">
            <a href="/" id="link">Home</a>
        </div>
    </nav>
</div>
<div id="mainContainer">
    <div id="container">
        <h1>Forgot Password</h1>
        <p>This is not working at the moment</p>
        <% if(JSON.stringify(messages) !=="{}" && messages !=="" ) { %>
            <div id="alert">
                <%= messages.error%>
                    <button type="button" id="close">
                        <span>&times;</span>
                    </button>
                    <script>
                        document.getElementById('close').addEventListener("click", () =>
                            document.getElementById('alert').remove()
                        );
                    </script>
            </div>
            <% } %>
                <form id="signing-up" action="/forgotPassword" method="post">
                    <label>
                        <input type="email" name="email" placeholder="Email" value=<%=locals.email%>>
                    </label>
                    <button id="submit" type="submit">Submit</button>
                </form>
    </div>
</div>