<%- include("partials/navNonUser") %>
    <div id="mainContainer">
        <div id="formContainer">
            <h1>Forgot Password</h1>
            <p>Please check your spam folder for resetting passwords</p>
            <%- include("partials/errorMsg") %>
                <form id="signing-up" action="/forgotPassword" method="post">
                    <label>
                        <input type="email" name="email" placeholder="Email" value=<%=locals.email%>>
                    </label>
                    <button id="submit" type="submit">Submit</button>
                </form>
        </div>
    </div>