<div id="navContainer">
    <nav>
        <a id="logo" href="/">
            Pace Partner
        </a>
    </nav>
</div>
<div id="mainContainer">
    <div id="container">
        <h1>Login</h1>
        <% if(messages.error) { %>
            <div id="alert">
                <%= messages.error%>
                    <button type="button" id="close">
                        <span>&times;</span>
                    </button>
                    <script>
                        document.getElementById('close').addEventListener("click", () =>
                            document.getElementById('alert').remove()
                        );
                    </script>
            </div>
            <% } %>
                <form id="signing-up" action="/login" method="post">
                    <label>
                        <input type="email" name="email" placeholder="Email" value=<%=locals.email%>>
                    </label>
                    <label>
                        <input type="password" name="password" id="password" placeholder="Password"
                            value=<%=locals.password%>>
                    </label>
                    <button id="submit" type="submit">Submit</button>
                </form>
                <div id="button-container">
                    <a href="/register">Register</a>
                    <a href="/forgotPassword">Forgot Password?</a>
                </div>
    </div>
</div>