<div id="navContainer">
    <nav>
        <div id="logo">
            <a href="/">
                <img src="./imgs/PacePartnerLogo.png" alt="Logo" width="50">
            </a>
        </div>
    </nav>
</div>
<div id="mainContainer">
    <div id="container">
        <p>Your password would be reset if I finished this :(</p>
        <p>You can go home anyways for now.</p>
    </div>
</div>