<div id="navContainer">
    <nav>
        <div id="logo">
            <a href="/">
                <img src="/imgs/PacePartnerLogo.png" alt="Logo" width="50">
            </a>
        </div>
    </nav>
</div>
<div id="mainContainer">
    <div id="formContainer">
        <h1>Reset Password</h1>
        <% if(JSON.stringify(messages) !=="{}" && messages !=="" ) { %>
            <div id="alert">
                <%= messages %>
                    <button type="button" id="close">
                        <span>&times;</span>
                    </button>
                    <script>
                        document.getElementById('close').addEventListener("click", () =>
                            document.getElementById('alert').remove()
                        );
                    </script>
            </div>
            <% } %>
                <form id="signing-up" post="/resetPassword/<%= token %>" method="post">
                    <label>
                        <input type="password" name="password" placeholder="New Password" required>
                    </label>
                    <label>
                        <input type="password" name="confirm" placeholder="Confirm Password" required>
                    </label>
                    <button id="submit" type="submit">Submit</button>
                </form>
    </div>
</div>