<%- include("partials/navNonUser.ejs") %>
    <div id="mainContainer">
        <div id="formContainer">
            <h1>Reset Password</h1>
            <%- include("partials/errorMsg") %>
                <form id="signing-up" post="/resetPassword/<%= token %>" method="post">
                    <label>
                        <input type="password" name="password" placeholder="New Password" required>
                    </label>
                    <label>
                        <input type="password" name="confirm" placeholder="Confirm Password" required>
                    </label>
                    <button id="submit" type="submit">Submit</button>
                </form>
        </div>
    </div>