<div id="navContainer">
    <nav>
        <div id="logo">
            <div>Pace Partner</div>
        </div>
        <div id="nav-links">
            <a href="/" id="link">Home</a>
        </div>
    </nav>
</div>
<div id="mainContainer">
    <div id="container">
        <p>Your password would be reset if I finished this :(</p>
        <p>You can go home anyways for now.</p>
    </div>
</div>