<div id="navContainer">
    <nav>
        <a id="logo" href="/"></a>
    </nav>
</div>
<div id="mainContainer">
    <div id="container">
        <p>Your password would be reset if I finished this :(</p>
        <p>You can go home anyways for now.</p>
    </div>
</div>