<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/signin" method="post">
        <label>Email <br/>
            <input type="email" name="email" value=<%=locals.email%>>
        </label>
        <br/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>