body {
    background-image: url('../imgs/runningbackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    display: flex;
    justify-content: center;
    background-color: rgba(149, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    margin-inline: auto;
    width: 50%;
    height: 80vh;
    flex-direction: column;
    box-shadow: 0 0 30px rgba(149, 0, 0, 0.5);
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(29, 0, 0);
}

h1 {
    position: relative;
    max-width: fit-content;
    margin-inline: auto;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
}

p {
    position: relative;
    max-width: fit-content;
    margin-inline: auto;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 1.5em;
    color: white;
    z-index: 1;
    width: 50%;
}

#alert {
    align-self: center;
    background-color: lightcoral;
    inline-size: fit-content;
    color: crimson;
    padding: 5px;
    margin: 5px;
}

#alert > button{
    background-color: crimson;
    color: white;
    border: 0;
    padding: 5px;
    margin: 0;
    cursor: pointer;
}

#container > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form > label, form > div{
    position: relative;
    max-width: fit-content;
    margin-inline: auto;
    text-align: center;
    color: white;
}

form > label > input {
    position: relative;
    border-radius: 10px;
    max-width: fit-content;
    margin-inline: auto;
    background-color: rgb(74, 0, 0);
    color: white;
    transition: transform 0.3s ease;
    padding: 6px 5px;
}

#button-container > a, form > button{
    position: relative;
    max-width: 40%;
    margin-inline: auto;
    text-decoration: none;
    border: 0;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font: 1.5rem sans-serif;
    color: white;
    width: 50%;
    transform: scale(1);
    transition: transform 0.3s ease;
}

#button-container > a:hover, form > button:hover{
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transform: scale(1.1);
}

#button-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
}