#sidebar {
    background-color: whitesmoke;
}

#sidebar > a {
    color: black;
    text-decoration: none;
    padding: auto;
    margin: auto;
    display: block;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

#sidebar > a:hover {
    background-color: lightgray;
}

#sidebarButton {
    border-radius: 10%;
    background-color: lightcoral;
    width: 4rem;
    height: 3rem;
    font-size: xx-large;
}

#sidebarButton:hover {
    background-color: lightpink;
}

body {
    background-image: url('./imgs/runningbackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    position: absolute;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

#centeredText {
    position: relative;
    max-width: fit-content;
    margin-inline: auto;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: white;
}
